@import "../node_modules/owl.carousel/src/scss/owl.theme.default.scss";
@import "../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@media only screen and (max-width: 991px) {
  .navbar-dark{
    background-color: #212529 !important;
  }
}
img{
  border-radius: 5px;
}
.mt-6 {
  margin-top: 80px;
}
.bg-dark {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav {
  .navbar-toggler {
    padding: 10px;
  }
  @media (max-width: 991px) {
    .nav-item {
      line-height: 40px;
      margin-right: 0px;
      display: block;
      border-bottom: 1px solid #ededed33;
      border-radius: 0px;
    }
  }
  .nav-link {
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
    display: inline-block;
  }
}

#shiva {
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin: 5px;
}
.count {
  line-height: 100px;
  color: white;
  margin-left: 30px;
  font-size: 25px;
}
#talkbubble {
  width: 120px;
  height: 80px;
  background: red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float: left;
  margin: 20px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.linker {
  font-size: 20px;
  font-color: black;
}

.progress-bar {
  width: 0;
}

.bg-purple {
  background-color: #825cd6 !important;
}

.progress .progress-bar {
  transition: unset;
}

body {
  background-color: #fbfbfb;
  line-height: 26px;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;

}
.navbar-brand {
  text-transform: uppercase;
}

.mytabs_area {
    hr {
        margin: auto;
        color: #ffff;
        height: 3px;
        width: 50px;

        margin-bottom: 20px;
      }
  @media only screen and (max-width: 400px) {
    font-size: 10px !important;
    a {
      line-height: 25px !important;
      padding: 5px !important;
    }
    .tabs_inner {
      margin-left: 10px !important;
    }
    h4 {
      font-size: 15px !important;
    }
  }
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  .tabs_inner .nav.nav-tabs {
    display: block;
    text-align: center;
    border: none;
    margin-bottom: 120px;
  }
  .tabs_inner .tab-content .tab-pane .list {
    max-width: 460px;
    margin: auto;
    position: relative;
    padding-bottom: 60px;
  }
  .container {
    padding: 20px 0px;
  }
  .tabs_inner .tab-content .tab-pane .list li span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 46%;
    margin-top: 30px;
    transform: translateX(-50%);
  }
  .tabs_inner .tab-content .tab-pane .list li {
    margin-bottom: 60px;
    position: relative;
  }
  .media-body {
    -ms-flex: 1;
    flex: 1;
  }
  .tabs_inner .tab-content .tab-pane .list:before {
    content: "";
    height: 100%;
    width: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: -5px;
  }
  span:before {
    content: "";
    height: 7px;
    width: 7px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 52%;
    top: 4px;
    transform: translateX(-50%);
  }
  span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
  }
  .tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .tabs_inner .tab-content .tab-pane .list li .media .media-body p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0;
  }
  .tabs_inner .tab-content .tab-pane .list li .media .d-flex {
    padding-right: 90px;
  }
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 50px;
  }
  .tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0;
    padding-top: 20px;
  }
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .tabs_inner .nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px;
  }

  .tabs_inner .nav.nav-tabs li a.active {
    background: #fff;
    color: #222;
  }
  .tabs_inner .nav.nav-tabs li a {
    margin: 0;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 40px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border: 1px solid #9ab5f5;
    background: rgba(255, 255, 255, 0.1);
  }
}
.bg-skill {
  @media only screen and (max-width: 1000px) {
    .container {
      padding: 50px !important;
    }
  }
  .container {
    padding: 50px 100px 100px 100px;
  }

  hr {
    margin: auto;
    color: #6de4ea;
    height: 3px;
    width: 50px;
  }
  position: relative;
  h4 {
    line-height: 0;
    text-align: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #222;
  }
  .skill_item {
    margin-bottom: 1rem;
  }
  .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
  }
  .progress-bar {
    transition: width 0.6s ease;
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  }

  .progress_br {
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 10px;
  }
  .skill_main .skill_item .progress {
    height: 10px;
    border-radius: 10px;
    background: #e8e8e8;
  }
}
.bg-prosonal {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 720px;
  transform: translateY(-408px);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  .container {
    padding: 50px 5px;
  }
}
.personal_text {
  @media only screen and (max-width: 1000px) {
    padding: 20px !important;
  }

  padding: 3rem 0px 0px 3rem;
  ul {
    padding-left: 0px;
    list-style: none;
    a {
      i {
        color: #766dff;
        padding-right: 5px;
      }
      line-height: 30px;
      color: black;

      text-decoration: none;
    }
  }
  .btn {
    color: white;

    padding: 2px 2px;
    margin: 5px;
    width: 32px;
    height: 32px;
    text-align: center;
  }
  .social {
    text-align: center;
    a {
      width: 40px;
      height: 40px;
      i {
        margin: 5px;
        font-size: 25px;
      }
    }
  }
  .facebook {
    background-color: #1877f2;
  }
  .instagram {
    background-color: #f00073;
  }
  .line {
    background-color: #25d366;
  }
}

.bg-certificate {
  img {
    margin: auto;
    display: block;
  }
  hr {
    margin: auto;
    color: #6de4ea;
    height: 3px;
    width: 50px;
    margin-bottom: 20px;
  }
  margin: 50px;
  padding: 0 100px;
  @media only screen and (max-width: 1000px) {
    margin: 0px;
    padding: 0 50px;
  }
  .tittle {
    text-align: center;
    margin-bottom: 10px;
  }
}
.bg-event {
  @media only screen and (max-width: 1000px) {
    .row {
      text-align: left !important;
      display: flex !important;
      margin: 50px !important;
      .col-md-12 {
        padding-top: 10px !important;
      }
      .col-lg-5 {
        padding: 15px !important;
      }
    }
  }
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    font-size: 20px;
    line-height: 30px;
  }

  .col-lg-6 {
    width: 100%;
  }

  .row {
    margin: 20px !important;
    padding: 20px 0;
    .col-lg-5 {
      padding: 100px 50px;
    }
  }
  .row:nth-child(odd) {
    text-align: left;
    img {
      float: left;
    }
    margin: 10px;

    grid-auto-flow: dense;
    direction: rtl;
  }

  .row:nth-child(even) {
    img {
      float: right;
    }
    text-align: right;

  }
  hr {
    margin: auto;
    color: #6de4ea;
    height: 3px;
    width: 50px;
    margin-bottom: 20px;
  }
  .tittle {
    text-align: center;
    margin-bottom: 10px;
  }
}
/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
